body{
    font-family: 'Cabin', sans-serif;
    
}
/* nav */
nav{
    width: 100%;
}
.menu{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: white;
}

.submenu{
    font-size:25px ;
    color: white;
    text-decoration: none;
    text-decoration-style: none;
}

/* titulo */
.img_1{
    width: 600px;
}  

.sub_titulo{
    font-size:30px ;
}


/* ingrediente y preparacio */

li {
    list-style: none;
}

/* footer */
.footer{
    font-family: 'Lobster', cursive;
    font-size: 60px ;
    color: white;
}